$font1: 1.2rem;
$font2: 1rem;
$font3: 0.8rem;

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.ttf"),
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    direction: rtl;
    font-family: vazir;
}

div.bigger-circle{
    width: 20%;
    position: absolute;
    top: 10%;
    right: 30%;
    div.circle{
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        background-color: #99d4f9;
        box-shadow: 0px 0px 100px 100px #99d4f9;
        //background: radial-gradient(#99d4f9 40%, #bef9f5 70%);
    }
}

div.smaller-circle{
    width: 10%;
    position: absolute;
    bottom: 20%;
    left: 30%;
    div.circle{
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        background-color: #99d4f9;
        box-shadow: 0px 0px 100px 100px #99d4f9;
        //background: radial-gradient(#99d4f9 40%, #bef9f5 70%);
    }
}

html , body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-25deg, #99d4f9 5%, #bef9f5 90%);

    div.card-container{
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        div.card-ghost{
            z-index: 9;
            width: 45%;
            position: absolute;
            top: -30px;
            background-color: rgba(255,255,255,0.1);
            border-radius: 30px;
            height: 200px;
            border: 2px solid rgba(255,255,255,0.8);
        }

        div.card-real{
            width:40%;
            background-color: rgba(255,255,255,0.6);
            border-radius: 20px;
            display: flex;
            div.pic-container{
                padding: 30px;
                min-width: 200px;
                height: 200px;
                div.picture{
                    width: 100%;
                    height: 100%;
                    background-image: url('http://navidmnzh.ir/images/me.jpeg?032a72c5a647f8ada8a51c50efd1aa16');
                    background-size: cover;
                    border-radius: 50%;
                    border: 5px solid white;
                }
            }
            div.information-container{
                padding: 30px;
                & > div:not(div.buttons){
                    margin-bottom: 20px;
                }
                div.name{
                    & > p{
                        padding: 5px 0px;
                    }
                    p.fullname{
                        font-weight: bold;
                        font-size: $font1;
                    }
                    p.username{
                        direction: ltr;
                    }
                }
                
                div.description{
                    font-size: $font3;
                }

                div.statistics{
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & > div{
                        text-align: center;
                        p.title{
                            font-size: $font3;
                            color: rgba(0,0,0,0.5);
                        }
                    }
                    div.seperator{
                        width: 1px;
                        height: 50px;
                        background-color: rgba(0,0,0,0.1);
                    }
                }

                div.buttons{
                    button{
                        padding: 10px 20px;
                        color: white;
                        border: none;
                        background-color: transparent;
                        border-radius: 10px;
                        border: 2px solid black;
                    }
                    button.follow{
                        background-color: black;
                    }
                    button.profile{
                        color: black;
                    }
                }
            }
        }
    }
}


// Responsive Codes ----

@media only screen and (max-width: 1360px){
    html , body{
        div.card-container{
            div.card-real{
                width:60%;
            }
            div.card-ghost{
                width: 65%;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    html , body{
        div.card-container{
            z-index: 10;
            width: 100%;
            display: flex;
            justify-content: center;
    
            div.card-real{
                width:60%;
                flex-direction: column;
                align-items: center;
                div.pic-container{
                    width: 100%;
                    padding:30px;
                    height: auto !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                    div.picture{
                        width: 100px;
                        height: 100px;
                    }
                }
                div.information-container{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 30px;
                    div.name{
                        text-align: center;
                    }
                    
                    div.description{
                        font-size: $font3;
                        text-align: center;
                    }
    
                    div.statistics{
                        width:60%;
                        & > div:not(div.seperator){
                            text-align: center;
                            padding: 0px 5px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    html , body{
        div.card-container{
            z-index: 10;
            width: 100%;
            display: flex;
            justify-content: center;
    
            div.card-real{
                width:80%;
                div.buttons{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    button.follow{
                        margin-bottom: 10px;
                    }
                }
            }
            div.card-ghost{
                width: 85%;
            }
        }
    }
}